[Unit]
Description=flannel is an etcd backed network fabric for containers
Documentation=https://github.com/coreos/flannel
After=network-online.target 
Wants=network-online.target

[Service]
Type=notify
ExecStartPre=-/usr/bin/etcdctl \
  -C http://etcd0.c.kubestack.internal:2379,http://etcd1.c.kubestack.internal:2379,http://etcd2.c.kubestack.internal:2379 \
  mk /coreos.com/network/config '{"Network":"10.10.0.0/16","Backend":{"Type":"vxlan"}}'
ExecStart=/opt/bin/flanneld \
  --ip-masq \
  --etcd-endpoints http://etcd0.c.kubestack.internal:2379,http://etcd1.c.kubestack.internal:2379,http://etcd2.c.kubestack.internal:2379
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
