[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=docker.service
After=docker.service

[Service]
ExecStart=/opt/bin/kubelet \
  --address=0.0.0.0 \
  --enable_server \
  --port=10250 \
  --api_servers=http://kube-apiserver.c.kubestack.internal:8080 \
  --logtostderr=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
