[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/opt/bin/kube-apiserver \
  --address=0.0.0.0 \
  --port=8080 \
  --portal_net=10.200.0.0/16 \
  --etcd_servers=http://etcd0.c.kubestack.internal:2379,http://etcd1.c.kubestack.internal:2379,http://etcd2.c.kubestack.internal:2379 \
  --token_auth_file=/var/run/kubernetes/tokens.csv \
  --logtostderr=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
